<div class="formStyle">
  <h2>LogIn to Flagguess!</h2>
  <form action="/auth/login" method="POST">
    <input id="new-email" type="email" name="email" placeholder="Email">
    <input id="new-password" type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
  </form>
</div>
