<div class="formStyle">
  <h2>Sign up for Flagguess!</h2>
  <form action="/auth/signup" method="POST">
    <input id="new-email" type="email" name="email" placeholder="Email">
    <input id="new-name" type="text" name="name" placeholder="Name">
    <input id="new-password" type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign up">
  </form>
</div>