<p>comment page</p>

<!-- creating a post -->

<form action="/scores/comment" method="POST">
    <div class="form-group">
      <label for="content">Content</label>
      <textarea type="text" class="form-control" id="content" name="comment" required></textarea>
    </div>
    <input type="button" hidden name="name" value="">
    <input type="button" hidden name="userId" value="">
    <input type="submit" class="btn btn-primary">
  </form>

  <!-- comments -->
<div class="commentbox">
    <% foundComment.forEach(comment => { %>
        <div class="commentbox2"><p id="commentContent"><%= comment.comment %></p></div>
        <p id="commentName">from <stong><%= comment.name %></stong>
    <span class="dateCreated"><%= comment.updatedAt %></span></p>
    <% }) %>
 </div>