<div class="commentStyle">
    <h2>Leave your comment to Flagguess!</h2>
</div>
<div class="commentStyle2">
    <ul class="comment-section">
        <li class="write-new">
            <form action="/scores/comment" method="POST">
                <textarea placeholder="Write your comment here" name="comment" required></textarea>
                <div>
                    <input type="button" hidden name="name" value="">
                    <input type="button" hidden name="userId" value="">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </li>
        <% foundComment.forEach(comment => { %>
            <li class="comment user-comment">
                <div class="info">
                    <p><strong><%= comment.name %></strong></p>
                    <span><%= comment.upodatedAt %></span>
                </div>
                <p><%= comment.comment %></p>
            </li>
        <% }) %> 

    </ul>
</div>