<p>game demo page</p>
<!-- need data to be an questionArray -->
<% function randomFlag(restCountry) { %>
    <%  let m = restCountry.length, t, i; %>
     <% while (m) { %>
      <%    i = Math.floor(Math.random() * m--); %>
      <%    t = restCountry[m]; %>
      <%    restCountry[m] = restCountry[i]; %>
      <%    restCountry[i] = t; %>
      <% } %>
      <% return restCountry; %>
  <% } %>
  
  <% function pickedCountry() { %>
      <% let correctAnswer = Math.floor(Math.random() * restCountry.length) %>
      <% let i = correctAnswer; %>
      <% console.log(restCountry[i].name, "this is randomly picked one of shuffled array"); %>
      <div class="imagebox">
          <img src="../../public/img/flagimages/<%= restCountry[i].alpha3Code %>.png">
      </div>
  <% } %>

<%= pickedCountry() %>

<% restCountry.forEach(function(restCountry) { %>
    <div class="flagHolder">
        <ul>
            <li><%= restCountry.name %></li>
        </ul>
    </div>
    <div class="questionBox">
        
    </div>
    <% }) %>
<!-- things to display after a game
name
capital
region
population
nativeName
timezones -->