<p>game demo page</p>
<% restCountry.forEach(function(restCountry) { %>

<div class="flagHolder">
    <ul>
        <li><%= restCountry.name %></li>
    </ul>
</div>
<% }) %>

<!-- things to display after a game
name
capital
region
population
nativeName
timezones -->